<?xml version="1.0" encoding="utf-8"?>
<configuration>

	<configSections>
		<sectionGroup name="TestProjects">
		</sectionGroup>	
    </configSections>
	
	<startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7" />
    </startup>

	<appSettings>
		<add key="TestRailUrl" value="https://janison.testrail.com" />
		<add key="TestRailUser" value="xxx" />
		<add key="TestRailPassword" value="xxx" />
		<add key="TestRailTestStatus1" value="Passed" />
		<add key="TestRailTestStatus2" value="Blocked" />
		<add key="TestRailTestStatus3" value="Untested" />
		<add key="TestRailTestStatus4" value="Retest" />
		<add key="TestRailTestStatus5" value="Failed" />
		<add key="TestRailTestStatus6" value="Known Issue" />
		<add key="TestRailTestStatus7" value="Incomplete Automation" />
		<add key="TestRailTestStatus8" value="Removed from Run" />
		<add key="TestRailTestStatus9" value="In Progress" />
		<add key="TestRailTestStatus10" value="Script Failure" />
		<add key="ConfluenceUrl" value="https://janisoncls.atlassian.net" />
		<add key="ConfluenceUser" value="xxx" />
		<add key="ConfluenceApiToken" value="xxx" />
	</appSettings>
	
	<TestProjects>
		<add Name="RMS" Id="47" Team="Titans" ConfluenceSpace="INS" ConfluenceBuildsPage="2216067073" ConfluenceSprintsPage="997687643"/>
		<add Name="PISA" Id="55" Team="Titans" ConfluenceSpace="INS" ConfluenceBuildsPage="2216067073" ConfluenceSprintsPage="997687643"/>
		<add Name="Core Assessment" Id="64" Team="Titans" ConfluenceSpace="INS" ConfluenceBuildsPage="2216067073" ConfluenceSprintsPage="997687643"/>
	</TestProjects>

</configuration>
